
@{

    ViewData["Title"] = "Timeentry";

}

<style>
    .navbar2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    body {
        background-color: moccasin;
    }
</style>

<!--
   Button "Create Timestamps" und Refresh erstellen und die Formen abschicken
-->
<div class="navbar">
    <form asp-action="CreateEdit">
        <button type="submit" class="btn btn-primary"> + Create Timestamps  </button>
    </form>

    <div>
        <form asp-action="Index">
            <button type="submit" class="btn btn-primary"> Refresh  </button>
        </form>
    </div>
</div>

<hr />

<!--
   Table rows erstellen
-->
<table class="table table-dark table-striped table-hover table-bordered">
    <thead>
        <tr>
            <!--
            <th>ID</th>
            -->
            <th>Type</th>
            <th>Date/Time</th>
            <th>Comment</th>
            <th>User</th>
            <th>Bearbeiten</th>
            <th>Löschen</th>
        </tr>
    <thead>



    <tbody>
        @{
            // Inhalt ViewBag in Variable timeentry übergeben und die einzelnen Attribute anzeigen
            foreach (var timeentry in ViewBag.Timeentry)
            {
                <tr>
                    <td hidden class="align-middle">
                        @timeentry.ID
                    </td>
                    <td class="align-middle">
                        @timeentry.Type
                    </td>
                    <td class="align-middle">
                        @timeentry.DateTime
                    </td>
                    <td class="align-middle">
                        @timeentry.Comment
                    </td>
                    <td class="align-middle">
                        @timeentry.User
                    </td>
                    <!--
                    Button "Bearbeiten" erstellen und Form CreateEdit an Conroller abschicken
                    -->
                    <td class="align-middle">
                        <form asp-action="CreateEdit" asp-route-id="@timeentry.ID">
                            <button type="submit" class="btn btn-warning">Bearbeiten</button>
                        </form>
                    </td>

                    <!--
                    Button "Löschen" erstellen und Form DeleteTimeentry an Conroller abschicken
                    -->
                    <td class="align-middle">
                        @{
                            if (User.IsInRole("Admin"))
                            {
                                <form asp-action="DeleteTimeentry" asp-route-id="@timeentry.ID">
                                    <button type="submit" class="btn btn-danger">Löschen</button>
                                </form>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>














